* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.container {
    width: 600px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.stock-container {
    width: 90%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.container a, a.retour, input[type="submit"] {
    margin: 25px;
    font-weight: 600;
}

.container h1 {
    color: firebrick;
}

.container a, a.retour {
    border-radius: 5px;
    width: fit-content;
    transition: 0.3s;
    padding: 10px 20px;
    color: white;
}

.container a:not(.retour) {
    background-color: firebrick;
}

a.retour {
    background-color: rgb(209, 169, 169);
}

a.retour:hover {
    background-color: rgb(199, 79, 79);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.23);
}

.container a:not(.retour):hover, input[type="submit"]:hover {
    background-color: rgb(199, 79, 79);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.23);
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table * {
    font-size: 22px;
}

tbody th {
    background-color: firebrick;
    color: white;
    width: 25%;
    text-align: left;
    padding-left: 10px;
}

tbody td {
    padding-left: 10px;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

form {
    width: 90%;
}

input[type="text"], input[type="number"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
}

input[type="submit"] {
    width: fit-content;
    background-color: firebrick;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
    background-color: rgb(224, 162, 162);
    border: 1px solid firebrick;
}