#loginSec{
    box-shadow: 0px 0px 10px rgb(213, 0, 213); 
    border-radius: 25% 10%; 
    padding: 5px; 
    background-color: #63007290;
    display:flex ; 
    flex-direction: column; 
    justify-content: center; 
    height: 50%;
    width: 125%;
}

#log{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background:linear-gradient(rgb(0,0,0), transparent),  url(logBg.jpg);
    background-position: cover;
} 

.login{
    width : 360px;
    height: min-content;
    padding: 20px;

}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;

}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

#inscrSec{
    box-shadow: 0px 0px 10px rgb(213, 0, 213); 
    border-radius: 25% 10%; 
    padding: 5px; 
    background-color: #63007290;
    display:flex ; 
    flex-direction: column; 
    justify-content: center; 
    height: 40%;
    width: 110%;
}

.editDelet {
    text-align: right;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#etiquettes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.etiquette, .etiquettes {
    display: flex;
    flex-direction: row;
}

.etiquettes p {
    margin: 10px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

/*********************PAGE ACC************************/

#logo{
    flex: 2 1 40rem;
    font-family: "Pacifico", cursive;
}

.hero{
    padding: 0;
    margin: 0;
    min-height: 94.5vh;
    background:linear-gradient(rgb(0,0,0), transparent),  url(cube.jpg);
    background-position: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero h2{
    padding: 3rem;
    font-weight : normal; 
}

body{
    font-family: "Rockwell" ,sans-serif;
}

/*********************PAGE GENERER************************/

.etiquette-filtre {
    pointer-events:none;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 25px;
    background-color: #ffffff;
    text-align: center;
    width: fit-content;
}

code {
    display: table;
}