<html>

   <head>
    <title>Créer question</title>
      <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

      <script>
        var nbAnswers = 1;
        function addAnswer() {
            answers = document.getElementById("answers");
            answer = document.createElement("div");
            answer.id = "answer" + nbAnswers;
            answerCheckbox = document.createElement("input");
            answerCheckbox.type = "checkbox";
            answerCheckbox.name = "correct" + nbAnswers;
            answerCheckbox.value = "1";
            answerText = document.createElement("input");
            answerText.type = "text";
            answerText.name = "text" + nbAnswers;
            answerText.placeholder = "Réponse " + (nbAnswers + 1);
            answer.appendChild(answerCheckbox);
            answer.appendChild(answerText);
            answers.appendChild(answer);
            nbAnswers++;
            nbAnswersInput = document.getElementById("nbAnswers");
            nbAnswersInput.value = nbAnswers;
        }
        function delAnswer() {
            answer = document.getElementById("answer" + (nbAnswers - 1));
            answers.removeChild(answer);
            nbAnswers--;
            nbAnswersInput = document.getElementById("nbAnswers");
            nbAnswersInput.value = nbAnswers;
        }
      </script>
   </head>
   
   <body>
    <center>
        <h1>Création de question</h1>
        <form method="post">
            <p>Type : QCM</p>
            <label for="text">Question :</label>
            <input type="text" name="text" placeholder="Quelle est la capitale de la France ?">
            <div id="answers">
                <div id="answer0">
                    <input type="checkbox" name="correct0" value="1">
                    <input type="text" name="text0" placeholder="Réponse 1">
                </div>
            </div>
            <button type="button" onclick="addAnswer()">Ajouter une réponse</button>
            <button type="button" onclick="delAnswer()">Supprimer une réponse</button>
            <input type="submit" value="Créer">
            <input type="hidden" name="nbAnswers" value="1" id="nbAnswers">
        </form>
    </center>
   </body>
</html>