<html>

<head>
   <title>Questions</title>
   {% include 'includes/head_common.html' %}
</head>

<body>
   <center>
      {% include 'includes/navbar_prof.html' %}
      {% include 'includes/message.html' %}
      <div id="sequences" class="container">
      <h1>Séquence {{ sequence_id }}</h1>
         <div id="archives-container">
            <table id="archives-table" class="table">
               <tbody>
                  {% for question in sequence.questions %}
                  <tr id="q{{ question.id }}">
                  <th>{{ question.titre }}</th>   
                     {% if question.type == "ChoixMultiple" %}
                        {% for answer in question.answers %}
                           <td>{{ answer.text | safe }}</td>
                        {% endfor %}
                     {% elif question.type == "Alphanumerique" %}
                        <td colspan="2">Réponses</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>   
   </center>
</body>
</html>