<html>

<head>
   <title>Questions</title>
   {% include 'includes/head_common.html' %}
</head>

<body>
   <center>
      {% include 'includes/navbar_prof.html' %}
      {% include 'includes/message.html' %}
      <div id="sequences" class="container">
      <h1>Séquence {{ sequence_id }}</h1>
         <div id="archives-container">
            <table id="archives-table" class="table">
               <thead>
                  <tr>
                     <th>ID de la séquence</th>
                     <th>Date</th>
                     <th># Questions</th>
                     <th># Étudiants</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>{{ sequence_id }}</td>
                     <td>{{ sequence.date }}</td>
                     <td>{{ sequence.questions | length }}</td>
                     <td>{{ sequence.etudiants | length }}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>   
   </center>
</body>
</html>