<html>

   <head>
    <title>Projet-HAI405I</title>
      <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
   </head>
   
   <body>
    <center>
         <h1>Projet-HAI405I</h1>
         {% if name != None %}
            <a href="{{ url_for('questions') }}">Vos Questions</a>
            <a href="{{ url_for('logout') }}">Déconnexion</a>
         {% else %}
            <a href="{{ url_for('login') }}">Connexion</a>
         {% endif %}
    </center>
   </body>
   
</html>