<html>

   <head>
    <title>Connexion</title>
      <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
   </head>
   
   <body>
    <center>
        <h1>Connexion</h1>
        <form method="post">
            <input type="text" name="login" placeholder="Nom d'utilisateur">
            <input type="password" name="password" placeholder="Mot de passe">
            <input type="submit" value="Connexion">
        </form>
        <a href="{{ url_for('inscription') }}">Inscription</a>
    </center>
   </body>
   
</html>