<html>

   <head>
    <title>Connexion</title>
      <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
      <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }} "></script>
      <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js.map') }} " ></script>
      <link href="{{ url_for('static', filename = 'bootstrap.min.css.map') }} " rel="stylesheet">
      <link href="{{ url_for('static', filename = 'bootstrap.min.css') }} " rel="stylesheet">
   </head>
   
   <body id="log">
    <center>
    <section class="container my-2 text-light p-2 col-12" id="loginSec">
    <div class="login" class="container">
        <h1 class="text-center">Connexion</h1>
        <form method="post">
            <div class="form-group was-validated">
                <input class="form-control" type="text" name="login" id="login" placeholder="Nom d'utilisateur" required>
            </div>
            <div class="form-group was-validated">
                <input class="form-control" type="password" name="password" id="password" placeholder="Mot de pass" required>
            </div>
            <div>
                <input class="btn btn-success w-100" type="submit" value="Connexion">           
                </form>
                <form action="{{ url_for('inscription') }}">
                    <input type="submit" class="btn btn-dark w-100" value="inscription">
                </form>                 
            </div>


    </div>
    </section>
    </center>
   </body>
   
</html>