<html>

   <head>
    <title>Stock</title>
      <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
   </head>
   <body>
    <center>
    <table id="stock" class="stock-container">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Quantité</th>
        </tr>
        {% for item in stock: %}
        <tr>
            {% for attr in item %}
                <td>{{ attr }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
	</table>
    <a class="retour" href="{{ url_for('index') }}">Retour</a>  
</center>
    </body>
</html>